{{#if error}}
<div class="alert alert-danger" role="alert">
  <strong>{{error}}</strong>
  {{#if errorDetails}}
  <div>{{errorDetails}}</div>
  {{/if}}
</div>
{{/if}}

<body>


  <!-- Page Content -->
  <div class="container">
    <!-- Content Row -->
    <div class="row">
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <!--<img class="card-img-top" src="https://png.icons8.com/windows/100/000000/security-checked.png" alt="">-->
          <div class="card-body">
            <h2 class="card-title">Update Retention Policy</h2>
            <p class="card-text">Update Retention Policy on Folders you own.</p>
          </div>
          <div class="card-footer">
            <a href="/retention" class="btn btn-primary" style="display: block">Launch</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <!--<img class="card-img-top" src="https://png.icons8.com/ios/100/000000/table-properties.png" alt="">-->
          <div class="card-body">
            <h2 class="card-title">Manage Metadata Templates</h2>
            <p class="card-text">Create/Edit Metadata Templates</p>
          </div>
          <div class="card-footer">
            <a href="/metadata" class="btn btn-primary" style="display: block">Launch</a>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <!--<img class="card-img-top" src="https://png.icons8.com/dotty/100/000000/tree-structure.png" alt="">-->
          <div class="card-body">
            <h2 class="card-title">Apply Cascading Metadata</h2>
            <p class="card-text">Apply Metadata to Folders you own.</p>
          </div>
          <div class="card-footer">
            <a href="/cascade" class="btn btn-primary" style="display: block">Launch</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

    

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script rel="stylesheet" src="vendor/jquery/jquery.min.js"></script>
  <script rel="stylesheet" src="vendor/popper/popper.min.js"></script>
  <script rel="stylesheet" src="vendor/bootstrap/js/bootstrap.min.js"></script>

</body>